.pageThumb {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movieThumb {
  display: flex;
  gap: 20px;
}

.overviewThumb {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listThumb {
  display: flex;
  gap: 10px;
}
.genresThumb {
  display: flex;
  gap: 10px;
}
.active {
  font-weight: bold;
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.img {
  height: 100%;
}

.link:hover {
  text-decoration: underline;
}
