.pageThumb {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movieThumb {
  display: flex;
  gap: 20px;
}

.overviewThumb {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listThumb {
  display: flex;
  gap: 10px;
}
.genresThumb {
  display: flex;
  gap: 10px;
}
.active {
  font-weight: bold;
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.img {
  height: 100%;
}

.linkGoBack {
  font-size: 14px;
  background-color: #0a0a23;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  width: fit-content;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linkGoBack:hover {
  background-color: grey;
}

.link:hover {
  text-decoration: underline;
}

.button {
  width: fit-content;
  padding: 10px;
}
