.bold {
  font-weight: bold;
}

.listThumb {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.itemThumb {
  display: flex;
  gap: 20px;
}

.imUserThumb {
  width: 200px;
  text-align: center;
}
